/* @import "@material/textfield/mdc-text-field"; */
/* @import "./node_modules/@material/textfield/dist/"; */

:root {
	--navbar-background-color: #ffffff;
	--navbar-height: 60px;
	--navabar-box-shadow: #978585d8;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none !important;
}

.__navbar {
	background-color: var(--navbar-background-color);
	height: var(--navbar-height);
	z-index: 5000;
	box-shadow: 0 0 3px 0 var(--navabar-box-shadow);
	position: fixed;
	top: 0;
}

.__brand-logo {
	height: 40px;
	width: 200px;
}

.__contact-btn {
	color: #000000;
	margin-right: 2rem;
}

.__contact-btn:hover {
	color: #711d2b;
	text-decoration: none;
	background-color: #d4d4d44f;
}

.__contact-btn span {
	align-items: center;
}

.__container {
	height: 400px;
	background-image: url('https://bit.ly/2Qo3Gf0');
	background-size: cover;
}

.__text-overlay {
	color: #ffffff;
	font-size: 50px;
	flex-direction: column;
}

.__text-overlay span:nth-child(1) {
	line-height: 3rem;
}

.__text-overlay span:nth-child(2) {
	font-family: 'Varela';
	font-size: 25px;
	line-height: 2rem;
}

.__text-overlay span:nth-child(3) {
	font-size: 12px;
	max-width: 350px;
	/* height: 30px; */
}

.__navbar-sub {
	height: 70px;
	background-color: #ffffff;
	box-shadow: 0 0 7px 0 var(--navabar-box-shadow);
	width: 80%;
	z-index: 1000;
	position: absolute;
	top: 370px;
	left: 10%;
	right: 10%;
}

.__navbar-sub span a:hover {
	color: #711d2b;
}

.__section-room-container {
	min-height: 340px;
}

.__room-vector-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.__section-room-text {
	flex-direction: column;
	font-size: 15px;
}

.__section-room-text span:nth-child(1) {
	font-family: 'Varela';
	font-size: 35px;
	flex-wrap: wrap;
	text-align: center;
}

.__section-room-text-types {
	flex-wrap: wrap;
}

.__room-card {
	flex-direction: column;
	width: 250px;
	height: 300px;
}

.__card-img {
	object-fit: cover;
	object-position: center;
	/* border-bottom-right-radius: 20px; */
	width: inherit;
	height: inherit;
	/* z-index: 1500; */
}

.__text-container {
	flex-direction: column;
	color: #ffffff;
	position: relative;
	width: 350px;
	height: 180px;
	top: -30px;
	box-shadow: 0 0 4px 0 #8e8c8c;
	border-bottom-right-radius: 20px;
	z-index: 1000;
}

.__empty-card {
	height: 70px;
}

.__room-card,
.__room-description {
	position: absolute;
}

.__room-description {
	flex-direction: column;
}

.__room-description span:nth-child(1) {
	font-size: 28px;
	font-family: 'Varela';
}

.__section-room-types-container {
	flex-direction: column;
	min-height: 400px;
}

.__section-room-type {
	height: 400px;
}

.__room-description-container,
.__section-dinning-overlay-container {
	position: absolute;
	height: 400px;
}

.__description-text {
	width: 300px;
	height: 250px;
	background-color: #b4b2b2d7;
	opacity: 0.9;
}

.__text-container span:nth-child(1) {
	font-family: 'Varela';
	font-size: 25px;
}

.__text-container span:nth-child(2) {
	font-family: 'Varela';
	font-size: 14px;
}

.__section-dinning-container,
.__section-restaurant-container {
	height: 300px;
}

.__section-dinning-image,
.__section-restaurant-image,
.__section-conference-images,
.__section-club-image {
	height: inherit;
	object-position: center;
	object-fit: cover;
}

.__section-dinning-text {
	flex-direction: column;
	color: #ffffff;
	font-size: 5rem;
}

.__restaurant-header {
	font-size: 35px;
	color: grey;
}

.__section-conferences {
	min-height: 400px;
	flex-direction: column;
}

.__section-conference-header {
	font-size: 25px;
	z-index: 1000;
	/* position: absolute; */
}

.__section-conference-images-container {
	min-height: 400px;
}

.__section-club-container {
	flex-direction: column;
	height: 400px;
}

.__section-club-image {
	min-height: 320px;
}

.__section-club-header {
	font-size: 35px;
}

sup {
	top: .2rem;
}

.__bold-text {
	font-weight: 600;
}

.__grey-text {
	color: #484848;
}

.__section-contact-form-container {
	flex-direction: column;
	max-width: 650px;
}

.__section-contact-form {
	flex-direction: column;
}

.__section-contact-form-header {
	font-size: 35px;
}

.__section-contact-form-button {
	color: #ffffff!important;
}

@media screen and (max-width: 768px) {
	.__contact-btn {
		margin-right: 1rem;
	}

	.__contact-btn span {
		font-size: 12px;
	}

	.__brand-logo {
		height: 30px;
		width: 140px;
	}

	.__text-overlay {
		font-size: 30px;
	}

	.__text-overlay span:nth-child(1) {
		line-height: 2rem;
	}

	.__text-overlay span:nth-child(2) {
		font-size: 17px;
		line-height: 1rem;
	}

	.__text-overlay span:nth-child(3) {
		font-size: 12px;
		max-width: 380px;
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}

	.__navbar-sub {
		font-size: 11px;
		overflow-x: auto;
	}

	.__section-room-container {
		flex-wrap: wrap;
	}

	.__room-vector-image {
		margin: 3.5rem auto 2rem auto !important;
	}

	.__section-room-text p {
		font-size: 11px;
		margin: .6rem 2rem auto !important;
	}

	.__section-room-types-container {
		min-height: 300px;
	}

	.__section-room-type {
		flex-wrap: wrap;
		width: inherit;
		height: 300px;
	}

	.__room-description-container {
		height: 300px;
	}

	.__section-dinning-text {
		flex-direction: column;
		color: #ffffff;
		font-size: 3rem;
	}

	.__restaurant-header {
		font-size: 20px;
		color: grey;
	}

	.__section-conference-header {
		font-size: 18px;
	}

	.__section-conference-images-container {
		width: auto!important;
	}

	.__section-club-header {
		font-size: 22px;
	}

	.__section-contact-form-container {
		max-width: 350px;
	}

	.__section-contact-form-header {
		font-size: 22px;
	}
}

@media (min-width: 992px) {
	.__room-vector-image,
	.___section-room-types-container {
		margin-left: 18% !important;
	}

	.__section-room-text,
	.___section-room-types-container {
		margin-right: 18%;
	}

	.__room-card {
		margin-left: 0!important;
	}

	.__section-room-text p {
		font-size: 15px;
		margin: .6rem 10rem auto!important;
	}

	.__section-contact-form-container {
		max-width: 650px;
	}
}

/* device specific fix */

@media (max-width: 768px) and (max-height: 1024px) {
	.__text-overlay span:nth-child(3) {
		margin-left: auto!important;
		margin-right: auto!important;
	}
}

@media (max-width: 1024px) and (max-height: 1366px) {
	.__section-room-text p {
		margin-left: 2rem!important;
		margin-right: auto!important;
	}
}
